.NavigationItem {
  margin: 10px 0;
  padding: 16px 10px;
  display: block;
  height: 100%;
  width: auto;
}

.NavigationItem a {
  text-decoration: none;
  height: 100%;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  display: block;
  color: #000;
}

.NavigationItem a:hover,
.NavigationActive a:active,
.NavigationItem a:active {
  border-bottom: 4px solid #00aa6c;
}
